.content {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    width: 100%;
    height: 100%;
}

/* ---------------------------------- */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 40px;
    max-width: 500px;
    margin: auto !important;

}

.login-container .title-container h1 {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.login-container .title-container p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;

    color: rgba(0, 0, 0, 0.4);
    margin-top: 10px !important;
}

.login-container .input {
    width: 100%;
}

.login-container .forgot-password {
    font-size: 12px;
    margin-left: auto;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: underline;
    cursor: pointer;
}

/* ---------------------------------- */

.about-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.about-container .logo {
    height: 90px;
    filter: drop-shadow(0px 0px 40px white);
    z-index: 1;

}

.about-container .description-text {
    width: 500px;
    text-align: center;
    margin-top: 40px !important;
    font-size: 14px;
    color: white;
    z-index: 1;
}

.about-container .background-container {
    height: 110%;
    width: 110%;
    position: absolute;
    mask-image: none;
    -webkit-mask-image: linear-gradient(0deg, rgba(255,255,255,0) 00%, rgba(60,90,240,1) 100%);
    background-size: cover;
    opacity: .5;
}

.background-container video {
    height: 100%;
}